@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: white;
}

/* Arreglo para gráficos */
.recharts-responsive-container {
    min-height: 300px;
    width: 100% !important;
    height: 100% !important;
}

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: #0f172a; }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 4px; }
.scrollbar-hide::-webkit-scrollbar { display: none; }
